body {
    background: rgb(241, 238, 238);
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    margin: 0;
}

/* Header start */
header {
    display: flex;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    top: 0px;
    padding-top: 5px;
    background: rgb(241, 238, 238);
}

.img > img {
    height: 40px;
}

.nav {
    display: flex;
    justify-content: center;
    align-items: center;
    /* width: 300px; */
    margin-right: 20px;
}

.nav__link {
    text-decoration: none;
    color: rgb(22, 22, 22);
    padding: 0 10px;
    
}
/* Header end */

/* Main start */
main {
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Title start */
.title {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 500px;
}

h2 {
    margin: 15px;
    font-size: 24px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;

}

form > input {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 8px 10px;
    width: 250px;
    border-radius: 4px;
    border: unset;

}

.button__title, button {
    margin: 15px;
    background: rgb(253, 197, 93);
    border: unset;
    text-transform: uppercase;
    width: 150px;
    height: 30px;
    border-radius: 3px;
    font-weight: bold;
    cursor: pointer;
}

.button__title:hover, button:hover {
    background-color: orange;
    transition: background-color 1s;
}
/* Info block start */

.info {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-top: 40px;
    max-width: 900px;


}

.info__block {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto auto;
    grid-template-areas: 
        "img title"
        "img desc"
    ;
    column-gap: 40px;

}

.info__block > img {
    grid-area: img;
}

.info__block > h3 {
    grid-area: title;
    margin: 0;
    align-self: center;
}

.info__block > p {
    grid-area: desc;
    margin: 0;
}

.video {
    margin-top: 60px;

}

.form {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 40px;
    margin-top: 40px;
    max-width: 900px;
    width: 100%;
}

.form__block {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid grey;
   
}

.form__block > h4 {
    margin: 0;
    width: 101%;
    background: rgb(212, 212, 212);
    text-align: center;
    padding: 10px 0;
}

.form__block > .price {
    font-weight: bold;
    font-size: 24px;
    font-style: italic;
}

.form__block > button {
    font-weight: normal;
    padding: 10px 20px;
    width: auto;
    height: auto;
}

/* Footer start */

.footer {
    display: block;
    border-radius: 3px;
    text-align: end;
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
    padding: 12px;
    background: rgb(212, 212, 212);
    max-width: 900px;
    
}

.footer__link {
    text-decoration: none;
    color: rgb(22, 22, 22);
    padding: 10px;
    font-family: 'Lato', sans-serif;
    font-size: 16px;

}

footer > p {
    font-family: 'Lato', sans-serif;
    /* font-style: italic; */
    font-size: 14px;
    margin: 5px;
    color: rgb(22, 22, 22);
}